.art-display {
    background-color: #e9559a;
    width: 65vw;
    padding: 2rem 10% 2rem 10%;
    min-height: fit-content;
}

.display-header, .display-origin-date {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.display-title-artist {
    display: flex;
    flex-flow: column nowrap;
    margin: 0%;
}

.display-title {
    font-size:x-large;
    font-weight: bolder;
}

.display-artist {
    font-size: large;
    font-weight: bold;
}

.display-image-container {
    background-color: #56213c;
    border: #291720 solid .15rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.display-image {
    min-width: 75%;
    max-width: 100%;
    height: auto;
    border: #291720 solid .15rem;
}

.display-origin-date {
    border: #291720 solid .15rem;
    background-color: #f7c2da;
    padding: .5rem;
}

.display-description-container {
    margin-top: .75rem;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
}

.display-description-title, .display-origin-date {
    font-size:large;
    font-weight: bold;
}

.display-description {
    margin-top: .5rem;
    font-size: medium;
}

.favorite-button {
    justify-self: center;
    height: 3rem;
    width: auto;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0);
}

.favorite-button:hover {
    background-color: #f7c2da;
}