.application {
    display: flex;
    flex-flow: row nowrap;
    font-family: sans-serif;
    font-weight:550;
    height: 100vh;
    min-height: fit-content;
}

body {
    margin: 0;
    padding: 0;
    left: -.5rem;
    /* background-color: aqua; */
    overscroll-behavior: none;
    touch-action: none;
  }