.search-filter-result-area {
    /* flex-grow: 4; */
    /* width: 48vw; */
    width: 45vw;
    justify-content: space-around;
    background-color: #820263;
}

button {
    width: fit-content;
    height: fit-content;
}

input {
    height: fit-content;
}

p {
    padding: 0;
    margin: 0;
}

.search-filter-area, .result-list {
    background-color: #f0c6e5;
    display: flex;
    flex-flow: column;
    padding: 1rem .5rem 1rem .5rem;
    margin: 2.5%;
    border: #291720 solid .15rem;
}

.searchArea {
    display: flex;
    flex-flow: column;
    padding-bottom: 2%;
}

.search-bar-container {
    margin: .75% 5% .75% 5%;
    display: flex;
    flex-flow: row;
    justify-self: center;
    margin-bottom: 2%;
    width: 90%;
}

.search-bar {
    width: 100%;
}

.search-checkboxes {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.spacing {
    margin-right: 10px;
}

.filter-date-area {
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 2%;
}

.input-date {
    width: 3rem;
}

.origin-dropdown {
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
}

.result-item, .result-item-selected {
    margin: .75% 5% .75% 5%;
    width: 90%;
    border: #291720 solid .15rem;
    font-weight: bold;
}

.result-item {
    background-color: #583515;
    color: #f0c6e5;
}

.result-item:hover {
    background-color: #965417;
}

.result-item-selected {
    background-color: #FB8B24;
}

