.sidebar {
    display: flex;
    flex-flow: column nowrap;
    background-color: #291720;
    width: fit-content;
    padding-top: .5rem;
}

/* add background images */
.sidebar-button {
    margin: .5rem;
    height: 1.5rem;
    width: 1.5rem;
}

.general-search-image {
    /* background-color: aqua; */
    background-image: url(../assets/searchIcon.png);
}

.filter-favorite-image {
    background-image: url("../assets/favoriteIcon.png");
}